.App {
    width: 800px;
}

  .tasks {
    &__button {
      margin-top: 30px;
    }
    &__search {
      background-color: white;
      max-width: 50%;
      height: 40px;
      border-radius: 10px;
      padding: 0 10px 10px;
      margin-bottom: 10px;
    }
    &__title {
      padding: 42px 0;
    }
    &__item {
      display: flex;
      padding: 15px;
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
      box-shadow: 10px 10px 40px 20px #0000001A;
      border-radius: 10px;
      background-color: white;
      &-content-title {
        margin-bottom: 10px;
      }
    }
  }

  .form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    &__button {
      margin-top: 20px;
    }
  }
