.button {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    background: teal;
    color: white;
    border: none;

    &:hover {
        background: rgb(20, 95, 95);
        transform: scale(1.02);
    }
}
